*
{
	padding: 0px;
	margin: 0px;
}


nav
{
	width: 94.85%;
	background-color: rgb(70,150 ,250);
	text-align: right;
	height:4%;
	padding: 20px;
	padding-right: 50px;
}

a
{
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin-left: 50px;
}

h1
{
	
}

h3
{
	margin-left: 40px;
	font-weight: normal;
}

input[type="text"], input[type="number"],input[type="password"],select
{
	border-radius: 5px;
	width: 150px;
	height: 25px;
	margin: 10px auto ;
}

button
{
	border-radius: 5px;
	width: 100px;
	height: 25px;
	margin: 20px auto ;
}
