*
{
	padding: 0px;
	margin: 0px;
}


nav
{
	width: 94.85%;
	background-color: #7A96C5;
	text-align: right;
	height:4%;
	padding: 20px;
	padding-right: 50px;
}

nav>a
{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 17px;
	margin-left: 50px;
}

#goodsMenu
{
	width: 150px;
	height: 60px;
	background-color: #7A96C5;
	display: none;
	list-style-type: none;
	position: absolute;
	right: 25px;
	top:55px;
}

li>a
{
	clear: right;
	float: left;
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: block;
	margin-left: 25px;
	margin-bottom: 10px;
}

h2
{
	margin: 5px;
	padding: 5px;
	padding-left: 15px;
	border-radius: 5px;
	float: left;
	width: 95.5%;
	color: white; 
	background-color:#7A96C5;
}

select
{
	display: block;
	border-radius: 5px;
	width: 150px;
	height: 25px;
	margin: 20px auto ;


}

#crudAction
{
	margin-top: 50px;
}

#input
{
	width: 50%;
	height: 84vh;
	float: left;

	border: solid #7A96C5;
	border-radius: 5px;
	display: block;
	margin: 20px 10px;
}

#display
{
	width: 45%;
	height: 70%;
	float: left;
}

#inputFields
{
	width: 80%;
	margin: 50px auto ;
}

input[type="text"], input[type="number"],input[type="date"],input[type="password"]
{
	border-radius: 5px;
	width: 150px;
	height: 25px;
	margin: 10px auto ;
}

div>table>tbody>tr>td>button
{
	border-radius: 5px;
	width: 60px;
	height: 25px;
	margin: 20px auto ;
}


#go
{
	border-radius: 5px;
	width: 60px;
	height: 25px;
	position: relative;
	left: 450px;
}


table
{
	border: solid #7A96C5;
	border-radius: 5px;
	display: block;
	text-align: center;
	border-spacing: 0;
	width: 95%;
	margin: 20px auto;
}

th, td
{
	border: solid #7A96C5 1px;
	padding: 7px;
	width: 20%;
}

th
{
	background-color: #7A96C5;
	color: white;	
}

#inputFields>table>tbody>tr>td , #inputFields>table
{
	border: none;
}

 #inputFields>table
 {
 	width: 60%;
 	display: block;
 	margin: 0px auto;
 }

#inputFields>table>tbody>tr>td 
{
	text-align: left;
	padding: 0px;
	width: 40%;
}