*
{
	padding: 0px;
	margin: 0px;
}


nav
{
	width: 94.85%;
	background-color: #7A96C5;
	text-align: right;
	height:4%;
	padding: 20px;
	padding-right: 50px;
}

nav>a
{
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin-left: 50px;
}

#goodsMenu
{
	width: 150px;
	height: 60px;
	background-color: #7A96C5;
	display: none;
	list-style-type: none;
	position: absolute;
	right: 25px;
	top:55px;
}

li>a
{
	clear: right;
	float: left;
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: block;
	margin-left: 25px;
	margin-bottom: 10px;
}

select
{
	display: block;
	border-radius: 5px;
	width: 150px;
	height: 25px;
	margin: 20px auto ;


}

#crudAction
{
	margin-top: 50px;
}

#input
{
	width: 50%;
	height: 90vh;
	float: left;
	border-right-style: solid;
	border-right-color: #7A96C5;
	border-right-width: 3px; 
}

#display
{
	width: 49%;
	height: 70%;
	float: left;
}

#inputFields
{
	width: 300px;
	margin: 50px auto ;
}

input[type="text"], input[type="number"],input[type="date"],input[type="password"]
{
	border-radius: 5px;
	width: 150px;
	height: 25px;
	margin: 10px auto ;
}

div>button
{
	border-radius: 5px;
	width: 60px;
	height: 25px;
	margin: 20px auto ;
}


#go
{
	border-radius: 5px;
	width: 60px;
	height: 25px;
	position: relative;
	left: 450px;
}

table
{
	display: block;
	margin: 20px 150px;
	text-align: center;
	/*border: solid 1px;
	border-collapse: collapse;
	/*width: 60%;
	min-width: 50%;
	max-width: 75%;*/
}

th, td
{
	
	border: solid 1px;
	border-collapse: collapse;
	padding: 7px;
	width: 70px;
	/*min-width:50px;*/
}