*
{
	margin:0px;
	padding: 0px;
}
#map 
{
	margin: 5px;
	height: 91%;
	width: 98.5%;
	float: left;
	border-radius: 5px;
}

section
{
	height: 87%;
	width: 70%;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color:#7A96C5;
}

section>h3
{
	margin: 5px;
	padding: 5px;
	padding-left: 15px;
	border-radius: 5px;
	float: left;
	width: 96.75%;
	color: white; 
	background-color:#7A96C5;
}

html, body 
{
	height: 100%;
    margin: 0;
    padding: 0;
}
    
aside/*, h3*/
{
	display: inline;
	margin:10px;
	background-color:#7A96C5;
}

.truckId , label
{
	margin-left: 15px;
}

#truckDetails , #activeTrucks
{
	width: 27%;
	height: 40%;
	margin:10px;
	padding-top: 6px;
	border-radius: 5px;
	float: right;
	border-style: solid;
	display: inline-block;
	border-color:#7A96C5;
}

#activeTrucks
{
	margin-top: -10px;	
}

.header
{
	color: white; 
	padding: 5px;
	border-radius: 5px;
	width: 93%;
	margin-left: 5px;
	background-color:#7A96C5;
}

#driver
{
	margin-top: 5px;
}

nav
{
	width: 94.85%;
	background-color:#7A96C5;
	text-align: right;
	height:4%;
	padding: 20px;
	padding-right: 50px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
nav>a
{
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin-left: 50px;
	font-size: 17px;
}

#goodsMenu
{
	width: 150px;
	height: 60px;
	background-color: #7A96C5;
	display: none;
	list-style-type: none;
	position: absolute;
	right: 25px;
	top:50px;
}

li>a
{
	clear: right;
	float: left;
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: block;
	margin-left: 25px;
	margin-bottom: 10px;
}
